 * {
     box-sizing: border-box;
 }

 html,
 body {
     height: 100%;
 }

 a {
     text-decoration: none;
     font-size: 50px;
 }

 #indicatarList {
     display: flex;
     column-gap: 5px;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .indicator {
     width: 199px;
     height: 199px;
     background-color: rgb(2, 54, 9);
     border-width: 2px;
     border-style: solid;
     border-color: transparent;
     border-radius: 50%;
     margin: 9px auto 9px;
     display: block;
 }

 body {
     background-color: chartreuse;
 }

 .ss {

     border-width: 2px;
     border-style: solid;

     border-radius: 50%;
     margin: 9px auto 9px;
     display: block;
 }

 .gg {
     border-width: 500000px;



     margin: 90px auto 90px;

 }