 * {
     box-sizing: border-box;
 }

 html,
 body {
     height: 100%;
 }

 s {
     text-decoration: none;
     font-size: 50px;
 }

 #indicatarList {
     display: flex;
     column-gap: 5px;
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .indicatora {
     width: 20px;
     height: 20px;
     background-color: aquamarine;
     border-width: 2px;
     border-style: solid;
     border-color: transparent;
     border-radius: 50%;
 }